body{
    font-family: 'Inter';
    color: #333333;
}

.privacy{
    margin: 120px 0 248px 0;
}

li{
    list-style-type: disc;
}

.title-1{
    font-size: 40px;
}

.title-img{
    padding-top: 38px;
}

.title-text, h2, h3{
    font-size: 22px;
    color: #000000;
    font-weight: 500;
}

h1{
    margin-bottom: 70px;
}

h2, h3{
    padding: 60px 0 10px 0;
}

ul{
    margin-left: 25px;
}
